.dyno {
  width: 90%;
  margin: 30px;
  background-color: #464646;
  border: solid 1px #ffffff;
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: 0 2px 5px 0 #00000096;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dyno h2 {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 2px;
}
.gen_graph {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.gen_graph div {
  border: #ffffff solid 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px 0 #00000096;
}
.gen_graph div p {
  margin: 3.5px;
}
.gen_graph div input {
  color: #ffffff;
  background-color: #5e5e5e;
  border: solid 1px #1e1e1e;
  box-shadow: 0 2px 5px 0 #00000096;
  border-radius: 3px;
  height: 10px;
  width: 80px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 3px;
  font-size: 11px;
  margin: 4px;
}
p {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.kpicard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  opacity: 0.7;
}
.aboutcar {
  opacity: 0.7;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  justify-content: center;
}
.orient {
  flex-direction: row;
}
.quick p {
  margin-top: 20px;
}
.quick {
  display: flex;
  align-items: start;
  height: 150px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.kpi {
  background-color: #464646;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #ffffff;
  border-radius: 4px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 3px;
  box-shadow: 0 2px 5px 0 #00000096;
  opacity: 0.7;
}
body {
  margin: 0px;
  background-color: #111111;
}

.top {
  background-color: #464646;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px 10% #00000096;
  border-bottom: 1px solid #ffffff;
  opacity: 0.7;
  height: 90px;
}

.center {
  justify-content: center;
}

.foot {
  background-color: #464646;
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 10% #00000096;
  border-top: 1px solid #ffffff;
  opacity: 0.7;
  flex-direction: column;
}
.foot p {
  margin: 10px;
  opacity: 0.5;
}
.title {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
}

.card {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 30px;
  gap: 20px;
  height: 500px;
}
.cardlogin {
  width: 30%;
  background-color: #464646;
  height: 90%;
  margin: 30px;
  border-radius: 40px;
  box-shadow: 0 2px 5px 0 #00000096;
  overflow: hidden;
}
h2 {
  font-size: 35px;
}
.titlebut {
  background: none;
  height: 100%;
  width: 340px;
  opacity: 0.3;
  position: fixed;
  border: none;
  font-size: 35px;
  font-style: normal;
  letter-spacing: 0.7px;
  color: #ffffff;
  font-style: italic;
}
.titlebut:hover {
  cursor: pointer;
}

.loginfield {
  color: #ffffff;
  opacity: 0.9;
  background-color: #262626;
  box-shadow: 0 2px 5px 0 #00000096;
  display: flex;
  align-items: center;
  margin: 30px;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  height: 73%;
  border: solid #ffffff 1px;
}
.loginfield h2 {
  opacity: 0.7;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 10px;
}
.loginfield .butPad {
  margin: 30px;
  opacity: 0.7;
}

.input_cadastro {
  color: #ffffff;
  background-color: #5e5e5e;
  border: solid 1px #1e1e1e;
  box-shadow: 0 2px 5px 0 #00000096;
  border-radius: 3px;
  height: 20px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 3px;
  font-size: 15px;
  margin-top: 15px;
}

.inp input {
  border-radius: 1px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #5e5e5e;
  border: solid 1px #1e1e1e;
  box-shadow: 0 2px 5px 0 #00000096;
  border-radius: 3px;
  height: 20px;
  width: 150px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 3px;
  font-size: 15px;
}
.inp h2 {
  margin-top: 1px;
}
inp,
div p {
  margin-bottom: 1px;
}
#screen_3 .left {
  width: 40%;
}
#screen_3 .right {
  width: 60%;
}

.inp_custom {
  border-radius: 1px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #5e5e5e;
  border: solid 1px #1e1e1e;
  box-shadow: 0 2px 5px 0 #00000096;
  border-radius: 3px;
  width: 60%;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 3px;
  font-size: 15px;
  margin-bottom: 10px;
}
.inp div {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 10px;
  width: 170px;
  box-shadow: 0 2px 5px 0 #00000096;
}
.input_cadastro::placeholder {
  color: #1f1f1f;
  opacity: 0.4;
}
.text {
  color: #ffffff;
  gap: 15px;
  opacity: 0.7;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 4000px;
}

.butPad {
  width: 100px;
  height: 30px;
  display: flex;
  background-color: #5e5e5e;
  border-color: #ffffff;
  border-radius: 2px;
  border-width: 1px;
  align-items: center;
  color: #ffffff;
  box-shadow: 0 2px 5px 0 #00000096;
  overflow: hidden;
  margin: 30px;
  gap: 10px;
  cursor: pointer;
  justify-content: center;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.errolog {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ff2f2f;
  font-style: italic;
  margin: 0px;
}

.butPad:hover {
  box-shadow: 0 2px 5px 0 #000000ec;
}

.icon {
  height: 15px;
  width: 15px;
}
.big {
  width: 70px;
  height: 70px;
}
h1 {
  font-size: 35px;
  font-style: normal;
  letter-spacing: 0.7px;
}

.pic1 {
  background-image: url(back1.png);
  background-position: center top;
}

.pic2 {
  background-image: url(back2.png);
  background-position: center top;
}

.pic3 {
  background-image: url(back3.png);
  background-position: center bottom;
}

.backimg {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  overflow: hidden;
  width: 100%;
  height: 600px;
  position: relative;
  background-size: 140%;
}
.content {
  filter: blur(0px);
}
.separate {
  background-color: #464646;
  width: 100%;
  color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  opacity: 0.7;
}

.separatetwo {
  opacity: 0.7;
  border-top: 1px solid #ffffff;
  width: 100%;
}
.imgbox {
  width: 4000px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.imgbox img {
  border: #ffffff solid;
  border-width: 1px;
  width: 100%;
}
.newcar {
  border-bottom: 1px solid #ffffff;
  justify-content: space-around;
  display: flex;
}
.newcar .butPad {
  width: 150px;
  height: 40px;
}
.column {
  flex-direction: column;
  justify-content: flex-start;
}
.leftright {
  display: flex;
  width: 100%;
}
.left {
  width: 50%;
  height: 500px;
}
.right {
  width: 50%;
  height: 500px;
}
.kardcar {
  opacity: 0.7;
  background-color: #464646;
  width: 20%;
  height: 80%;
  margin: 30px;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 5px 0 #00000096;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}
.kardcar h2 {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-size: 30px;
  padding: 30px;
}
.kardcar div {
  display: block;
}
.kardcar div .butPad {
  width: 200px;
  height: 40px;
}
.catalog {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: none;
}
.profile {
  margin-left: 0px;
  margin-right: 0px;
  width: 150px;
}
.fixtitle {
  margin-left: 150px;
}
.loginfix {
  margin-right: 499.5px;
}
#dynamic {
  display: block;
  flex-direction: column;
}
#dynamic div {
  display: flex;
}
.newcar h2 {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 0.7;
}
.email_sup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  padding: 10px;
  border-radius: 10px;
}
